[metadata]
name = <NAME>
version = <VERSION>
author = ValueRaider
author_email = ValueRaider@protonmail.com
description = Smart caching wrapper for 'yfinance' module
long_description = file: README.md
long_description_content_type = text/markdown
url = https://github.com/ValueRaider/yfinance-cache
project_urls =
    Bug Tracker = https://github.com/ValueRaider/yfinance-cache/issues
classifiers =
    Programming Language :: Python :: 3
    License :: OSI Approved :: MIT License
    Operating System :: OS Independent

[options]
package_dir =
    = ./
packages = find:
python_requires = >=3
install_requires = 
    yfinance >= 0.2.36
    pandas >=1.5, <2.1  # Pandas 2.1 has datetime bug, see Github issue #55487
    exchange_calendars >= 4.2.5
    scipy >= 1.6.3
    click

[options.packages.find]
where = ./
